*{
    margin: 0;padding: 0;box-sizing: border-box;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
}
 
.thanksMsg {
    text-align: center;
    font-family: 'Raleway';
    font-size: 20px;
    margin: 4% 15%;
    font-weight: 500;
}

.rowAnimText {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 3% 15%;
}

.rowAnimText .textCol, 
.rowAnimText .imgCol {
    width: 50%;
    text-align: left;
}

.rowAnimText .imgCol {
    height: 350px;
    background-image: url('../Images/donate_us/foodForAnimals.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.DonateForm.textCol{
    border: 1px solid #398086;
    height: 348px;
    display: flex;
    align-items: center;
    padding: 33px;
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
    }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
    }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
    }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
    }
}