*{
    margin: 0;padding: 0;box-sizing: border-box;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
}
 
.thanksMsg {
    text-align: center;
    font-family: 'Raleway';
    font-size: 20px;
    margin: 4% 15%;
    font-weight: 500;
}

.rowAnimText {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 3% 15%;
}

.rowAnimText .textCol, 
.rowAnimText .imgCol {
    width: 50%;
    text-align: left;
}

.rowAnimText .imgCol {
    height: 350px;
    background-image: url('../Images/donate_us/foodForAnimals.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.DonateForm.textCol{
    border: 1px solid #398086;
    height: 348px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.DonateForm.textCol form{
    width: 100%;
}

.DonateForm.textCol  .amtRow {
    display: flex;
    align-items: center;
    gap: 12%;
    font-family: 'Inter';
    font-weight: 500;
    color: #424141;
    background: #e6e6e6;
    padding: 10px 10%;
    justify-content: center;
}

.DonateForm.textCol .eachAmt {
    display: flex;
    align-items: center;
    gap: 6%;
}

.DogprayMsgtxt .DogIcon {
    background-image: url('../Images/donate_us/dog.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 60px;
    margin-right: 5px;
}

.DogprayMsgtxt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5% auto;
}

.DogprayMsgtxt .Msgtxt {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
}

.DonateForm.textCol .AmtPanRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.DonateForm.textCol .submit {
    text-align: center;
    margin-top: 8%;
    background: #398086;
    padding: 12px 10px;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.DonateForm.textCol .AmtPanRow input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 15px;
    color: #398086;
    width: 100%;
}

.DonateForm.textCol .AmtPanRow .icoInput {
    border: 1px solid #398086;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #398086;
    width: 52%;
}

.DonateForm.textCol .submit:hover {
    background: #316d72;
}

.submit input[type="submit"] {
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
    }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
    }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
    }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
    }
}