* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .footer{
    background-image: url('../Images/home/Logo-footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
} */

.footer .copyright {
    text-align: center;
    background-color: #C0C0C0;
    padding: 5px;
    font-family: inter;
    color: #616161;
}

.footer .innerFtrContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4% 10% 3% 10%;
    background: #fafafa;
    border-top: 1px solid #e7e7e7;
    position: relative;
    /* background-image: url('../Images/contact_us/cat.png'); */
    background-size: 38% 80%;
    background-repeat: no-repeat;
    background-position:bottom right;
}

.footer .innerFtrContainer .item.logoSocial{
    display: grid;
    place-items: center;
    width: 22%;
}

.item.logoSocial .footerIntro{
    margin-top: 15px;
    text-align: center;
    line-height: 18px;
    font-family: inter;
}

.footer .innerFtrContainer .item.logoSocial .logo {
    background-image: url('../Images/home/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 184px;
    height: 130px;
}

.footer .innerFtrContainer .socialIcons {
    display: flex;
    justify-content: center;
    width: 88%;
    column-gap: 5%;
    margin-top: 8%;
}

.footer .innerFtrContainer .socialIcons a{
    color: #fff;
    text-decoration: none;
}

.footer .innerFtrContainer .fb{
    background: #3b5998;
}

.footer .innerFtrContainer .insta{
    background: #D34174;
}

.footer .innerFtrContainer .yt{
    background: #FF0000;
}

.footer .innerFtrContainer .fb,
.footer .innerFtrContainer .insta,
.footer .innerFtrContainer .yt {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}

.FooterTitleTxt {
    color: #000;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

ul.siteMapUL {
    list-style-type: none;
    padding: 0;
    font-family: 'Inter';
}

ul.siteMapUL li {
    padding: 1% 0;
}

ul.siteMapUL li a {
    text-decoration: none;
    color: #000;
    transition: 0.2s all ease-in;
}

ul.siteMapUL li a:hover{
    color: #398086;
}
.footer .contactForm input,
.footer .contactForm textarea {
    border: none;
    background: transparent;
    text-indent: 20px;
    outline: none;
    font-family: inter;
    font-size: 14px;
    width: 100%;
}

.footer .contactForm div {
    background: #D6D6D6;
    padding: 10px 6px;
    margin: 8px 0;
}

.footer input::placeholder,
.footer textarea::placeholder {
    color: #C3C3C3;
}

.footer .contactForm div.submit {
    background-color: #A9A9A9;
    padding: 8px 0;
    text-align: center;
    transition: 0.3s all ease-in-out;
}

.footer .contactForm div.submit:hover {
    background-color: #8b8a8a;
}

.footer input[type='submit'] {
    color: #fff;
    width: 100%;
    text-indent: 0;
    font-family: inter;
}

.item.address p {
    text-align: right;
    margin: 0;
    color: #000;
    font-family: inter;
    font-size: 18px;
    padding: 1% 0;
}

.item.address p.title {
    font-family: inter;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    /* responsive footer starts here */
    .footer .innerFtrContainer {
        flex-direction: column;
        padding: 4% 7% 3% 7%;
        background-image: none;
    }

    .footer .innerFtrContainer .item.logoSocial .logo {
        width: 294px;
        background-position: center;
    }

    .innerFtrContainer .item.logoSocial {
        margin-bottom: 15%;
        display: grid;
        place-items: center;
        width: 100%;
    }

    .innerFtrContainer .item.siteMap {
        margin-bottom: 10%;
    }

    .innerFtrContainer .item.connectForm {
        width: 100%;
        margin-bottom: 10%;
    }

    .innerFtrContainer .item.address p {
        text-align: left;
    }

    /* responsive footer ends here */
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {}
}