*{
    margin: 0;padding: 0;box-sizing: border-box;
}

@font-face {
    font-family: TwSenMT;
    src: url(../fonts/tw-cen-mt.ttf);
}

.mainMessageTxt {
    color: #398086;
    font-family: 'TwSenMT';
    text-align: center;
    font-size: 30px;
    margin: 3% 0;
    padding: 0 15%;
}

p.subParagraph {
    margin: 1% 10%;
    font-family: 'Raleway';
}

.subParagraph .Strong{
    font-weight: 700;
}

.rowAnimText{
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 3% 15%;
}

.rowAnimText .textCol .title{
    color: #398086;
    font-family: 'TwSenMT';
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.rowAnimText .textCol .descr{
    font-family: inter;
    font-style: italic;
}

.rowAnimText .textCol,
.rowAnimText .imgCol{
    width: 50%;
    text-align: center;
}

.rowAnimText .imgCol{
    height: 350px;
    background-image: url('../Images/get_involved/dog.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.rowAnimText .donateBtn {
    text-decoration: none;
    background: #398086;
    color: #fff;
    padding: 7px 18px;
    font-family: inter;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    margin-top: 28px;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .mainMessageTxt{
        font-size: 25px;
        padding: 8px 10%;
        line-height: 27px;
    }

    p.subParagraph{
        margin-bottom: 15px;
        margin: 1% 6%;
    }
    .rowAnimText{
        flex-direction: column-reverse;
        margin: 3% 5%;
    }

    .rowAnimText .textCol, .rowAnimText .imgCol{
        width: 100%;
        margin: 3% auto;
    }

    .rowAnimText .donateBtn{
        margin-top: 5%;
    }
    .rowAnimText .textCol .title {
        line-height: 26px;
    }
}
 
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
    }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
    }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
    }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
    }
}