* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: TwSenMT;
    src: url(../fonts/tw-cen-mt.ttf);
}

.mainBanner {
    background-image: url('../Images/home/CowRescue.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.mainBanner .messageContainer {
    color: #fff;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    position: absolute;
    width: 50%;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
}

.mainBanner .logoContainer {
    background-image: url('../Images/home/logo-t-white.png');
    background-size: cover;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 5%;
    top: 5%;
}

.mainBanner .messageContainer h1 {
    font-size: 35px;
    font-weight: 600;
}

.mainBanner .messageContainer h1>span {
    color: #15BECC;
}

.mainBanner .messageContainer p {
    font-size: 25px;
    padding-top: 10px;
}

.mainBanner .navbarCustom {
    position: absolute;
    right: 5%;
    width: 60%;
    top: 10%;
}

.mainBanner .navbarCustom ul {
    display: flex;
    column-gap: 2%;
    justify-content: flex-end;
}

.mainBanner .navbarCustom li {
    list-style-type: none;
    font-family: "Inter";
}

.mainBanner .navbarCustom li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 3px 3px 10px rgba(0, 183, 255, 0.562);
}

.mainBanner .navbarCustom li a.active {
    color: #000;
}

.mainBanner .navbarCustom li a.donateBtn {
    background-color: #398086;
    color: #fff;
    border-radius: 40px;
    padding: 10px 35px;
    margin-left: 50px;
    transition: 0.3s all ease-in-out;
}

.mainBanner .navbarCustom li a.donateBtn:hover {
    background-color: #327379;
}

.mobile {
    display: none;
}

.marginLR {
    margin: 6%;
}

.info1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 5%;
}

.info1 h1 {
    font-size: 40px;
    color:#1f1f1f;
}

.info1>p {
    font-family: inter;
    font-family: poppins;
    margin: 20px 0;
    font-weight: 400;
    font-size:20px;
    color:#1f1f1f;
}

.marginLR .carousel1 {
    margin: 0 18%;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #70B3B9 !important;
}

.carousel1 .carousel-caption h5 {
    font-family: TwSenMT;
    font-size: 25px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
}

.carousel1 .carousel-caption p {
    font-family: TwSenMT;
    font-size: 19px;
    line-height: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.589);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    .mainBanner {
        height: 100vh;
        background-position: center;
    }

    .mainBanner .logoContainer {
        width: 155px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 30px;
    }

    .mainBanner .navbarCustom {
        display: none;
    }

    .mainBanner .messageContainer {
        top: 50%;
        width: 95%;
    }

    .mainBanner .messageContainer h1 {
        font-size: 36px;
        font-weight: 500;
    }

    .mainBanner .messageContainer p {
        font-size: 20px;
    }

    .donateBtn.mobile {
        display: block;
    }

    a.donateBtn.mobile {
        background-color: #398086;
        color: #fff;
        border-radius: 40px;
        padding: 10px 35px;
        width: max-content;
        text-decoration: none;
        position: absolute;
        right: 5%;
        top: 6%;
        font-family: inter;
        font-size: 14px;
    }

    .carousel-inner {
        border-radius: 8px !important;
    }
    .marginLR {
        margin: 7% 3%;
    }

    .info1>p{
        font-size: 16px;
    }
    .marginLR .info1 {
        margin: 0 3%;
    }

    .marginLR .info1 h1 {
        font-size: 30px;
        font-weight: 600;
        color: #1f1f1f;
    }

    .marginLR .carousel1{
        margin: 0 3%;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}